$backgroundColor: #333;

* {
	box-sizing: border-box;
}
body {
	margin: 0;
}

.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
	position: relative;
	color: #fff;
	font-family: "Playfair Display", serif;

	&.fullsize {
		height: 100vh;
		background: $backgroundColor;
	}

	h1 {
		font-family: "Anton", sans-serif;
		position: absolute;
		top: 1em;
		left: calc(20% + 1em);
		font-size: 3em;
		margin: 0;
		padding: 0;
		z-index: 10;
	}

	div.slides {
		position: relative;
		left: 0%;
		overflow: auto;
	}

	div.slides > ul {
		display: flex;
		position: relative;
		left: 0;
		width: 700%;
		list-style: none;
		margin: 0;
		padding: 0;
		transition: left 300ms ease;
	}



	ul.navigation {
		list-style: none;
		padding: 0;
		display: flex;
		position: absolute;
		bottom: 1em;
		left: calc(55% - 100px);

		li {
			a {
				display: block;
				color: #fff;
				text-decoration: none;
			}

			i {
				font-size: 3em;
				transition: all 300ms ease;
			}

			&.active i,
			&:active i {
				color: rgb(212, 15, 20);
			}
		}
	}
}
